.section {
  padding-top: 100px;
  padding-left: 16px;
}

.ingredients_list {
  max-height: 464px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
}
.item > svg {
  cursor: grab;
  margin-right: 8px;
}
