.section {
  padding-top: 100px;
  padding-left: 16px;
  border: 1px solid transparent;
}

.ingredients_list {
  max-height: 464px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.constructor_element img {
  object-fit: contain;
}

.constructor_element {
  position: relative;
}

.constructor_element::before {
  position: absolute;
  inset: 0;
  content: "";
  z-index: 1;
}

.hovered {
  border: 1px solid green;
}
