
.item {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.item > svg {
    cursor: grab;
    margin-right: 8px;
}

.constructor_element img {
    object-fit: contain;
}

.constructor_element {
    position: relative;
}

.constructor_element::before {
    position: absolute;
    inset:0;
    content: '';
    z-index: 1;
}

.dragging {
    opacity: 0.5;
}
