body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-element__image {
  object-fit: contain;
}

.app_container {
  max-width: 1240px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: unset;
  color: unset;
}

a:hover * {
  color: #ffffff;
}

.text {
  transition: color .2s linear;
}

.d-flex {
  display: flex;
  align-items: center;
}

.m0-a {
  margin: 0 auto;
  width: min-content !important;
}
